

<div class="container"  ng-controller="mainController">
    <form name="userForm"  novalidate>

        <!-- NAME -->
        <!-- <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
            <label>Name</label>
            <input type="text" name="name" class="form-control" ng-model="user.name" required>
            <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
        </div>
       -->
        <!-- USERNAME -->
        
        <!-- EMAIL -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
            <label>Email</label>
            <input type="email" name="email" class="form-control" ng-model="user.email">
            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
        </div>
   
        <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
                <label>Password</label>
                <input type="password" name="username" class="form-control" ng-model="user.password" ng-minlength="5" ng-maxlength="8">
                <p ng-show="userForm.username.$error.minlength" class="help-block">password is too short.</p>
                <p ng-show="userForm.username.$error.maxlength" class="help-block">password is too long.</p>
            </div>
       
        <button type="submit" class="btn btn-primary" ng-click="login(user)" ng-disabled="userForm.$invalid">Login</button>
        <button type="submit" class="btn btn-success" ng-click="signup()" >Register</button>
    </form>
</div>
